---
permalink: /
layout: wide
title: Home
top_questions:
    - name: symptoms
      question: "What are my symptoms?"
      link: "/"
    - name: distancing
      question: "What is social distancing?"
    - name: tested
      question: "Should I get tested?"
      link: "/"
    - name: caseload
      question: "Cases in the U.S."
      link: "/"
    - name: spread
      question: "How does it spread?"
      link: "/" 
    - name: travel
      question: "Can I travel?"
      link: "/"
questions_box:
    box_1_header: "How to Protect yourself?"
    box_2_header: "What to Do if you feel sick"
    
---


{% include hero.html %}
{% include top-questions.html top_questions=top_questions %}
{% include questions-box.html questions_box=questions_box %}
{% include content-questions.html %}
