---
permalink: /
layout: wide
title: Home
banner:
    display: false
    heading: "This is a place to place urgent information"
    content: "You can set this component to 'display: true' to show a banner at the top of the page."
top_questions:
    - name: symptoms
      question: "What are my symptoms?"
      link: "/"
    - name: distancing
      question: "What is social distancing?"
    - name: tested
      question: "Should I get tested?"
      link: "/"
    - name: caseload
      question: "Cases in the U.S."
      link: "/"
    - name: spread
      question: "How does it spread?"
      link: "/" 
    - name: travel
      question: "Can I travel?"
      link: "/"
questions_box:
    box_1_header: "How to Protect yourself?"
    box_1_category: protectyourself
    box_2_header: "What to Do if you feel sick"
    box_2_category: feelingsick
topics:
    - tag: about
      title: "About Covid-19"
    - tag: highrisk
      title: Advice for High-Risk
    - tag: everyone
      title: Advice for everyone
    - tag: hygiene
      title: Hygiene
    - tag: travel
      title: Travelling
    - tag: Quarantine
      title: Quarantine

    
---

{% if page.banner.display == true %}
  {% include alert-banner.html banner=page.banner %}
{% endif %}
{% include hero.html %}
{% include top-questions.html top_questions=page.top_questions %}
{% include questions-box.html questions_box=page.questions_box %}
{% include content-questions.html topics=page.topics %}