---
permalink: /
layout: wide
hide_search_in_header: true
title: Find answers about Coronavirus (COVID-19)
redirect_from: 
  - /retirement-communities/what-should-administrators-do-if-resident-or-staff-show-symptoms/
  - /retirement-communities/what-should-administrators-do-if-there-is-a-case-covid-19-in-our-facility/
  - /retirement-communities/does-cdc-have-recommendations-for-cleaning-and-disinfecting-surfaces/
  - /retirement-communities/how-can-my-retirement-community-or-independent-living-facility-prepare/
  - /retirement-communities/what-actions-can-residents-and-staff-take-to-prevent-spread/
  - /retirement-communities/what-resources-does-cdc-have-available/
  - /financial-help/what-resources-are-available-to-the-airline-industry/
  - /support-for-business/what-resources-are-available-to-the-airline-industry/
  - /protect-yourself/am-i-at-risk-for-covid-19-in-the-united-states/
---

{% if site.data.homepage_promotion.banner.display == true %}
  {% include alert-banner.html banner=site.data.homepage_promotion.banner %}
{% endif %}
{% include hero.html hero=site.data.homepage_promotion.hero %}
{% include top-questions.html top_questions=site.data.homepage_promotion.top_questions %}
{% include questions-box.html %}
{% include content-questions.html %}
