{% comment %}
    USWDS Accordion for a given category and posts
{% endcomment %}

{% assign question = include.accordion_content %}
<h2 class="usa-accordion__heading">
<button id="{{ question.title | slugify }}"
    class="usa-accordion__button"
    aria-expanded="true"
    aria-controls="control-{{ question.title | slugify }}">
    {{ question.title }}
</button>
</h2>
<div id="control-{{ question.title | slugify }}" class="usa-accordion__content usa-prose">
    <p>{{ question.content | markdownify }}</p>

    <p class="question-meta">Last updated {{ question.date | date:  "%B %d, %Y" }}.
    {% if question.source %} | <a href="{{ question.source }}/" class="usa-link usa-link--external">Source</a>{% endif %}
    </p>
</div>
