{% comment %}
    USWDS Accordion for a given category and posts
{% endcomment %}

<h2 class="usa-accordion__heading">
<button id="{{ include.question | slugify }}"
    class="usa-accordion__button"
    aria-expanded="true"
    aria-controls="control-{{ include.question | slugify }}">
    {{include.question}}
</button>
</h2>
<div id="control-{{ include.question | slugify }}" class="usa-accordion__content usa-prose">
    <p>{{include.answer}}</p>
    <p><cite>Source: <a href="{{include.source_link}}">{{ include.source }}</a></cite></p>
</div>
