{% if page.title != "Home" %}
<div class="grid-container">
  <div class="grid-row grid-gap">
    <div class="breadcrumb">
      <a href="{{ site.baseurl }}/">FAQ</a>
      {% if page.collection == "categories"%}
        > {{ page.title | upcase }}
      {% endif%}
      {% if page.collection == "content" %}
        {% assign this_category = site.categories | where:"name", page.category | first %}
          > <a href="{{ this_category.url }}">{{ this_category.title | upcase }}</a>
          > {{ page.title | upcase }}
      {% endif %}
    </div>
  </div>
</div>
{% endif %}