{% if page.title != "Home" %}
<div class="grid-container">
  <div class="grid-row grid-gap">
    <div class="breadcrumb">
      <a href="{{ site.baseurl }}/">FAQ</a>
      > {{ page.title }}
      <!-- {% if page.collection == "categories"%}
        > {{ page.title }}
      {% endif%}
      {% if page.collection == "content" %}
        {% assign this_category = site.categories | where: "name", page.categories[0] | first %}
          > <a href="{{ this_category.url | relative_url }}">{{ this_category.title }}</a>
          > {{ page.title }}
      {% endif %} -->
    </div>
  </div>
</div>
{% endif %}
