<!--div id="chatbot" role="main"></div>
<script>
  window.WebChat.renderWebChat(
    {
      directLine: window.WebChat.createDirectLine({
        // TODO: for production, generate per-user tokens bot web app
        token: 'XI_YmMYmBGY.Nyde7pt1EDuz_UROiKFXkrrP1sei9UFwKPh3Oa_hMdw'
      }),
      locale: 'en-US'
    },
    document.getElementById('chatbot')
  );
</script-->

<iframe src='https://webchat.botframework.com/embed/cv-faq-bot-manual?s=XI_YmMYmBGY.Nyde7pt1EDuz_UROiKFXkrrP1sei9UFwKPh3Oa_hMdw'  style='min-width: 400px; width: 100%; min-height: 500px; border: none;'></iframe>
