<section class="grid-container usa-section usa-section--condensed border-base-lightest">
  <div class="grid-row grid-gap top-categories">
    {% for category_grouping in site.data.homepage_order.category_groupings %}
      <div class="top-category tablet:grid-col-4 margin-bottom-3">
        <h3>{{ category_grouping.name }}</h3>
        <p>{{ category_grouping.description }}</p>
        <ul class="usa-list usa-list--unstyled">
          {% for category_name in category_grouping.categories %}
            {% assign current_category = site.categories | where: "name", category_name | first %}
            <li class="padding-y-1">
              <a href="{{ site.baseurl }}/{{ category_name }}/">{{ current_category.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</section>
