
<section class="usa-graphic-list usa-section">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      {% for topic in include.topics %}
      <div class="usa-media-block tablet:grid-col-3">
        <h4>{{ topic.title }}</h4>
        <ul>
          {% for post in site.posts %}
            {% if post.tag contains topic.tag and post.promoted == true %}
            <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
        <a href="/" class="text-bold">View All »</a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>