<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom padding-y-2">
    <div class="grid-container">
      <div class="grid-row grid-gap footer-nav-top">
        <div class="grid-col-12 tablet:grid-col">
          <ul>
            <li><a href="https://www.cdc.gov/">CDC.gov</a></li>
            <li><a href="https://www.whitehouse.gov">WhiteHouse.gov</a></li>
            <li><a href="https://www.fema.gov">FEMA.gov</a></li>
            <li><a href="https://www.usa.gov">USA.gov</a></li>
            <li><a href="https://www.hhs.gov">HHS.gov</a></li>
          </ul>
        </div>
        <div class="tablet:grid-col">

        </div>
        <div class="grid-col-12 tablet:grid-col-8 flagpole">
          {% asset 'giant-flag.svg' alt="United States Flag" class="giant-flag" %}
        </div>
      </div>
      <div class="grid-row disclaimer">
        <div class="grid-col-12 tablet:grid-col disclaimer--left">
          <ul class="add-list-reset">
            <li>© 2020</li>
            <li><a href="https://www.cdc.gov/other/privacy.html">Privacy</a></li>
          </ul>
        </div>
        <div class="grid-col-12 tablet:grid-col disclaimer--right">
          
        </div>
      </div>
    </div>
  </div>
</footer>