<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom padding-y-2">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col">
          <ul class="icon-list">
            <li><a href="https://www.cdc.gov/">CDC.gov</a></li>
            <li><a href="https://www.whitehouse.gov">WhiteHouse.gov</a></li>
            <li><a href="https://www.fema.gov">FEMA.gov</a></li>
            <li><a href="https://www.usa.gov">USA.gov</a></li>
            <li><a href="https://www.hhs.gov">HHS.gov</a></li>
          </ul>
        </div>
        <div class="tablet:grid-col">
          <ul class="add-list-reset">
            <li><a href="https://www.cdc.gov/other/privacy.html">Privacy</a></li>
            <li><a href="https://www.cdc.gov/od/foia">FOIA</a></li>
            <li><a href="https://www.cdc.gov/eeo/nofearact/index.htm">No Fear Act</a></li>
            <li><a href="https://oig.hhs.gov">OIG</a></li>
            <li><a href="https://www.cdc.gov/other/nondiscrimination.html">Nondiscrimination</a></li>
            <li><a href="https://www.cdc.gov/contact/accessibility.html">Accessibility</a></li>
          </ul>
        </div>
        <div class="tablet:grid-col">
          <h3>Connect with CDC</h3>
          <ul class="list-inline">
            <li><a href="https://www.facebook.com/CDC" target="_blank">
                {% asset 'icons/cdc-icon-facebook.svg' class="footer-icon" alt="Facebook" %}
              </a></li>
            <li><a href="https://twitter.com/CDCgov" target="_blank">
                {% asset 'icons/cdc-icon-twitter.svg' class="footer-icon" alt="Twitter" %}</a></li>
            <li><a href="https://www.youtube.com/user/CDCstreamingHealth" target="_blank">
                {% asset 'icons/cdc-icon-youtube.svg' class="footer-icon" alt="YouTube" %}</a></li>
            <li><a href="https://www.instagram.com/CDCgov/" target="_blank">
                {% asset 'icons/cdc-icon-instagram.svg' class="footer-icon" alt="Instagram" %}</a></li>
          </ul>
          <ul class="list-inline">
            <li><a href="https://tools.cdc.gov/medialibrary/index.aspx#/media/id/131979" class="footer-syndlink">
                {% asset 'icons/cdc-icon-media-library.svg' class="footer-icon" alt="Syndicate" %}</a></li>
            <li><a href="https://www.cdc.gov/cdctv">
                {% asset 'icons/cdc-icon-cdctv.svg' class="footer-icon" alt="CDC TV" %}</a></li>
            <li><a href="https://tools.cdc.gov/podcasts/rss.asp">
                {% asset 'icons/cdc-icon-rss.svg' class="footer-icon" alt="RSS" %}</a></li>
            <li><a href="https://wwwn.cdc.gov/dcs/RequestForm.aspx">
                {% asset 'icons/cdc-icon-email.svg' class="footer-icon" alt="Email" %}</a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>
<section class="disclaimer">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="grid-col-12 tablet:grid-col-6">
        <a href="https://www.hhs.gov">U.S. Department of Health &amp; Human Services</a>
      </div>
      <div class="grid-col-12 tablet:grid-col">
        <a href="https://www.usa.gov/">USA.gov</a>
      </div>
      <div class="grid-col-12 tablet:grid-col">
        <a href="https://www.cdc.gov/Other/disclaimer.html" class="footer-ext">CDC Website Exit Disclaimer</a>
      </div>
    </div>
  </div>
</section>