<section class="usa-hero hero__no-image">
  <div class="grid-container">
    <div class="grid-row">
      {% comment %}
      <!-- removing the comment and endcomment will re-enable this section -->
      <p class="i18n-controls grid-col-12">
        {% for language in site.il8n %}
        <a href="{{language.link}}" lang="{{language.lang}}">{{ language.display_text }}</a>
        {% if forloop.last == false %}
        |
        {% endif %}
        {% endfor %}
      </p>
      {% endcomment %}
      <h1 class="grid-col-12">{{ include.hero.title }}</h1>
    </div>
    <div  class="usa-search">
      {% include search.html placeholder = "Search questions, keywords, or topics to find answers" %}
    </div>
    <div class="grid-row">
      <p class="hero--tagline grid-col-12">{{ include.hero.tagline }}</p>
    </div>
  </div>
</section>
