<section class="usa-hero hero__no-image">
  <div class="grid-container">
    <h1>Find answers about COVID-19</h1>

    <form id="search_form" class="usa-search">

      <div role="search">
        <label class="usa-label usa-sr-only" for="search-box">Text input label</label>
        <input class="usa-input" id="search-box" name="search-box" type="search"
          placeholder="Search questions, keywords, or topics to find answers" />
        <button class="usa-button" type="submit">Search</button>
      </div>
    </form>
    <p>or you can browse the categories below to find what you are looking for.</p>
  </div>
</section>