{% comment %}
You shouldn't have to edit this page very often. But if you want to modify some of the meta-data for the
site, this is the place to do it.
{% endcomment %}

<head>
  <!-- Basic Page Needs
    ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Mobile Specific Metas
    ================================================== -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Title and meta description
    ================================================== -->
  <title>{% include title.html %}</title>
  <meta property="og:title" content="{% include title.html %}">
  <meta name="description" content="{% include meta-description.html %}">
  <meta property="og:description" content="{% include meta-description.html %}">

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@{{site.twitter}}" />
  <meta name="twitter:title" content="{% include title.html %}" />
  <meta name="twitter:description" content="{% include meta-description.html %}" />
  <meta name="twitter:image" content="{{ site.url }}{% asset social-media-preview.png @path %}" />

  <meta name="baseurl" content="{{site.baseurl}}">
  <meta name="searchgov_endpoint" content="{{site.searchgov.endpoint}}">
  <meta name="searchgov_affiliate" content="{{site.searchgov.affiliate}}">
  <meta name="searchgov_access_key" content="{{site.searchgov.access_key}}">

  <meta property="og:type" content="article">
  <meta property="og:image" content="{{ site.url }}{% asset social-media-preview.png @path %}">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="800">
  <meta property="og:image:alt" content="Coronavirus FAQ">
  <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800&display=swap" rel="stylesheet">
  <!-- Favicons
    ================================================== -->
  <!-- 128x128 -->
  <link rel="shortcut icon" type="image/ico" href="{% asset favicon.png @path %}">

  {% if page.sitemap == false %}
    <meta name="robots" content="noindex">
  {% endif %}

  <!-- CSS
    ================================================== -->

  {% asset index.scss %}
</head>
