{% comment %}
You shouldn't have to edit this page very often. But if you want to modify some of the meta-data for the
site, this is the place to do it.
{% endcomment %}

<head>
  <!-- Basic Page Needs
    ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="googlebot" content="noindex, nofollow">
  <meta name="bingbot" content="noindex, nofollow">
  <!-- Mobile Specific Metas
    ================================================== -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Title and meta description
    ================================================== -->
  <title>{% if page.title %}{{ page.title }} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
  <meta property="og:title" content="{% if page.title %}{{ page.title }} - {{site.title}}{% else %}{{site.title}}{% endif %}">
  <meta name="description" content="{{site.description}}">
  <meta property="og:description" content="{{site.description}}">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{site.twitter}}" />
  <meta name="twitter:title" content="{{site.title}}" />
  <meta name="twitter:description" content="{{site.description}}" />

  <!-- Search.gov description
  ================================================== -->
  <meta name="searchgov:endpoint" content="{{site.searchgov.endpoint}}" />
  <meta name="searchgov:affiliate" content="{{site.searchgov.affiliate}}" />
  <meta name="searchgov:access_key" content="{{site.searchgov.access_key}}" />

  <meta property="og:type" content="article">
  <link rel="canonical" href="{{site.baseurl}}/">
  <meta property="og:url" content="{{site.baseurl}}/">
  <!-- Favicons
    ================================================== -->
  <!-- 128x128 -->
  <link rel="shortcut icon" type="image/ico" href="{% asset cdc-favicon.ico @path %}">

  <!-- CSS
    ================================================== -->

  {% asset index.scss %}
</head>
