{% assign question_box_1 = site.data.homepage_promotion.questions_box_1 %}
{% assign question_box_2 = site.data.homepage_promotion.questions_box_2 %}
<section class="grid-container usa-section border-top border-base-lightest padding-bottom-0 padding-top-6">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-6 flex-align-stretch margin-bottom-2">
      <div class="question-box question-box--info">
        <div class="question-title">{{ question_box_1.title | markdownify }}</div>
        <ul class="usa-list usa-list--unstyled">
          {% for q in question_box_1.questions %}
          <li class="padding-y-1">
            <a href="{{ q.link | relative_url }}">
              {{ q.question }}
              <span>{% asset 'icons/caret-blue.svg' class="read-more-icon" alt="Read more" %}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
        <a href="{{ question_box_1.view_all_link | relative_url }}" class="usa-button margin-y-1 view-all">View all <span class="usa-sr-only">questions about {{ question_box_1.title | markdownify | strip_html }}</span></a>
      </div>
    </div>

    <div class="tablet:grid-col-6 flex-align-stretch margin-bottom-2">
      <div class="question-box question-box--warning">
        <div class="question-title">{{ question_box_2.title | markdownify }}</div>
        <ul class="usa-list usa-list--unstyled">
          {% for q in question_box_2.questions %}
          <li class="padding-y-1">
            <a href="{{ q.link | relative_url }}">
              {{ q.question }}
              <span>{% asset 'icons/caret-blue.svg' class="read-more-icon" alt="Read more" %}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
        <a href="{{ question_box_2.view_all_link | relative_url }}" class="usa-button margin-y-1 view-all">View all <span class="usa-sr-only">questions about {{ question_box_2.title | markdownify | strip_html }}</span></a>
      </div>
    </div>
  </div>
</section>
