<form id="search_form" action="{{ site.baseurl }}/search/">
  <div role="search" class="grid-row">
    <div class="grid-col">
      <label class="usa-label usa-sr-only" for="search-box">Search CDC for information on COVID-19</label>
      <div class="autocomplete_container">
        <input class="usa-input height-full" id="search-box" autocomplete="off" name="query" type="search"
          placeholder="{{ include.placeholder }}" />
      </div>
    </div>
    <div class="grid-col-auto">
      <button class="usa-button height-full" type="submit">
        <span class="usa-search__submit-text">Search</span>
      </button>
    </div>
  </div>
</form>
