<form
  id="search_form"
  {% comment %}As a JS-disabled fallback, post to search.gov; see components/search-form.js for Javascript behavior.{% endcomment %}
  action="{{ site.searchgov.endpoint }}/search"
  class="usa-search search-form {{ include.extra_class }}"
>
  <div role="search" class="">
    <div class="desktop:grid-col-8">
      <label class="usa-label usa-sr-only" for="search-box"
        >Search for information on COVID-19</label
      >
      <div class="autocomplete_container">
        <input
          class="usa-input height-full"
          id="search-box"
          autocomplete="off"
          name="query"
          type="search"
          placeholder="{{ include.placeholder }}"
        />
      </div>
    </div>
    <div class="grid-col-auto">
      <button class="usa-button height-full" type="submit">
        <span class="usa-search__submit-text">Search</span>
      </button>
    </div>
  </div>
  <input type="hidden" name="affiliate" value="{{ site.searchgov.affiliate }}" />
</form>
