<div role="search" class="grid-row">
  <div class="grid-col">
    <label class="usa-label usa-sr-only" for="search-box">Text input label</label>
    <input class="usa-input" id="search-box" name="query" type="search"
    placeholder="Search questions, keywords, or topics to find answers" />
  </div>
  <div class="grid-col-auto">
    <button class="usa-button" type="submit">
      <span class="usa-search__submit-text">Search</span>
    </button>
  </div>
  <div class="grid-col-12 margin-top-1">
    <ul
      id="autocomplete-container"
      class="bg-white shadow-1 margin-0 padding-0 usa-list usa-list--unstyled">
    </ul>
  </div>
</div>
