<cite>Source{% if question.sources.size > 1 %}s{% endif %}:
    {%- for source in question.sources -%}
        {% assign current_source = site.agencies | where:"name", source.agency | first %}
        <a href="{{ source.url }}" class="usa-link">
        {{ current_source.title }}
        {%- if source.url contains "coronavirus.gov" -%}
        {%- else -%}
        <span class="usa-sr-only">links to external site</span>
        {%- endif -%}
    </a>{% if forloop.last == false %}, {% endif %}
    {%- endfor -%}
</cite>
