<section class="grid-container usa-section usa-prose top-questions usa-section--condensed">
  <h2>Top questions</h2>
  <div class="grid-row grid-gap">
    {% for question in include.top_questions %}
    <div class="tablet:grid-col-6 desktop:grid-col-4">
      <a class="question" href="{{ question.link | relative_url }}">
        <div class="icon margin-right-2">
          {% capture icon_path %}icons/{{ question.icon }}.svg{% endcapture %}
          {% asset '{{ icon_path }}' class="" alt="" %}
        </div>

        <span>{{ question.question }}</span>
      </a>
    </div>
    {% endfor %}
  </div>
</section>
