<header role="banner" aria-label="primary site header">
  <div class="grid-container">

    <div class="grid-row flex-wrap flex-align-center">
      {% if page.url != '/'' %}
      <div class="grid-col-12 header--logo-row__top">
        {% asset whitehouse.svg class="height-6 padding-right-2" alt="Whitehouse" %}
        {% asset cdc.svg class="height-6 padding-right-2" alt="Centers for Disease Control and Prevention" %}
        {% asset hhs.svg class="height-6 padding-right-2" alt="U.S. Department of Health & Human Services" %}
        {% asset fema.svg class="height-6 padding-right-2" alt="US Department of Homeland Security - Federal Emergency Management Agency" %}
      </div>
      {% endif %}
      <div class="grid-col-12 tablet:grid-col-6 padding-y-2">
        {% include logo.html %}
      </div>

      <div class="grid-col-12 tablet:grid-col-6 padding-y-2 menu-search">
        {% if page.url != '/'' %}
        {% include search.html placeholder="Search questions, keywords, or topics" %}
        {% endif %}
        {% if page.url == '/' %}
        <div class="header--logo-row__right">
          {% asset whitehouse.svg class="height-6 padding-right-2" alt="Whitehouse" %}
          {% asset cdc.svg class="height-6 padding-right-2" alt="Centers for Disease Control and Prevention" %}
          {% asset hhs.svg class="height-6 padding-right-2" alt="U.S. Department of Health & Human Services" %}
          {% asset fema.svg class="height-6 padding-right-2" alt="US Department of Homeland Security - Federal Emergency Management Agency" %}
        </div>
        {% endif %}
      </div>

    </div>
  </div>
</header>