footer,
footer {
        @include u-color('base-lightest');
        background-color: #15223B;
    a,
    a:visited,
    span {
        @include u-color('base-lightest');
        @include u-font('sans', '3xs');
        @include u-margin-bottom(0);
        
        &:hover,
        &:focus {
            @include u-color('base-lightest');
            @include u-bg('transparent');
            @include u-text('underline');
        }
    }
    ul {
        @include unstyled-list;
    }
    li {
        &:hover,
        &:focus,
        &:active {
            @include u-bg('transparent');
        }
    }
    h3 {
        @include u-text('uppercase');
        @include u-font('sans', '2xs');
        @include u-margin-top(0);
        @include u-margin-bottom(0);
        font-weight: bold;
    }
    .list-inline {
        padding-left: 0;
        clear: both;
        li {
            @include u-float('left');
            list-style-type: none;
        }
    }
}
.footer-icon {
    @include u-width(3);
    @include u-height(3);
    margin-right: units(1);
    &:last-child {
       margin-right: 0; 
    }
}

.disclaimer {
    @include u-border-top('base-dark', '1px', 'solid');
    padding-top: units(2);
    ul {
        list-style: none;
        float: left;
    }

    @media screen and (min-width: 640px) {
        .disclaimer--right ul {
            float: right;
        }
    }
    li {
        display: inline;
    }
    a {
        @include u-color('base-lighter');
        @include u-text('no-underline');
        @include u-font('sans', '3xs');
        @include u-padding-x(1);
        &:hover,
        &:focus {
            @include u-text('underline');
        }
    }
}

.flagpole {
    @media screen and (max-width: 639px){
        text-align: center;
    }
}
.giant-flag {
    width: 7rem;
    margin-top: units(2);
    @media screen and (min-width: 640px) {
        float: right;
        margin-top: 0;
    }
}

.footer-nav-top {
    padding-top: units(4);
    padding-bottom: units(4);
}

@media screen and (max-width: 639px) {
    footer ul {
        text-align: center;
    }
    .disclaimer {
        .disclaimer--left,
        .disclaimer--right {
            ul {
                float: none;
                text-align: center;
            }
        }
        .disclaimer--right {
            margin-top: units(2);
        }
    }
}