// default mode hide banner
.usa-header--extended {
  @include u-bg('base-lighter');
  .usa-logo {
    max-width: 100%;
  }
  .usa-navbar {
    [role='search'] {
      min-width: 100%;
      @include margin-top(3);
      input[type='search'] {
        height: 100%;
      }
      button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.usa-banner__content {
  display: hidden;
}