.usa-header--extended {
  @include u-border-bottom('1px', 'solid', 'base-lighter');
  .nav {
    height: auto;
    max-height: auto;
  }
  .usa-logo {
    max-width: 100%;
  }
  .usa-navbar {
    [role='search'] {
      min-width: 90%;
      @include u-padding-top(4);
      input[type='search'] {
        height: 100%;
        @include u-border('base-lighter');
      }
      button {
        @include u-text('normal');
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.usa-banner__content {
  display: hidden;
}

header {
  .menu-search {
    @media screen and (max-width: 640px) {
      @include u-padding-x(0);
    }
    input {
      width: 100%;
      max-width: 100%;
    }
  }
}