.usa-header--extended {
  @include u-border-bottom('1px', 'solid', 'base-lighter');
  .nav {
    height: auto;
    max-height: auto;
  }
  .usa-logo {
    max-width: 100%;
  }
  .usa-navbar {
    [role='search'] {
      min-width: 90%;
      @include u-padding-top(4);
      input[type='search'] {
        height: 100%;
        @include u-border('base-lighter');
      }
      button {
        @include u-text('normal');
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.usa-banner__content {
  display: hidden;
}
.usa-banner__inner {
  @include u-padding-x(3);
  align-items: left;
}



.usa-logo {
  .usa-logo__text {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: -0.25rem;
  }

  a {
    display: inline-block;
  }
  
  a .usa-logo__text , 
  a:visited .usa-logo__text, 
  a:hover .usa-logo__text {
    @include u-color('ink');
  }
  
  a:hover {
    .usa-logo__text, span {
      font-style: normal;
    }
  }

  
  span {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    @include u-color('base');
  }

}

header {
  @include u-border-bottom('base-lightest', '1px', 'solid');
  &[role=banner] {
    @include u-border-top('primary-dark');
  }

  .grid__extra-wide {
    @include u-margin-x('auto');
    max-width: 1280px;
  }

  .menu-search {
    @media screen and (max-width: 640px) {
      @include u-padding-x(0);
    }
    input {
      width: 100%;
      max-width: 100%;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      @include u-border('base-lighter');
    }
  }
}

.fema {
  height: 32px;
}
.hhs {
  height: 40px;
}
.cdc {
  height: 36px;
}

@include at-media-max('desktop'){
  .grid__extra-wide {
    flex-direction: column;
  }  
  .usa-logo {
    text-align: center;
  }
  .header--logo-row__top {
    order: 2;
  }
  .menu-search {
    order: 3;
  }
}



.header--logo-row__top {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  @include u-margin-top(2);
  @include u-margin-bottom(1);
}

.header--logo-row__right {
  display: flex;
  align-items: center;
  justify-content: center;
  @include at-media-max('desktop') {
    text-align: center;
  }

  @include at-media('mobile') {
    @include u-margin-left(3);
  }

  @include at-media('desktop') {
    @include u-float('right');
    @include u-margin-right(2);
  }
}