.usa-hero.hero__no-image {
  background-image: none !important;
  @include u-bg('base-lightest');
  padding-top: units(2);
  padding-bottom: units(0);
  text-align: center;
  h1 {
    @include u-font('serif', '2xl');
    @include u-text('black', 'light');
    margin-top: units(3);
    margin-bottom: units(5);
  }
}
.i18n-controls {
  @include u-text('base-light');
  text-align: left;
  margin-bottom: 0;
  a {
    @include u-text('base-darkest');
    &:visited,
    &:focus,
    &:hover {
      @include u-text('base-darkest');
    }
  }
}
.usa-search {
  text-align: center;
  div {
    align-items: center;
    justify-content: center;
  }
  #search-box {
    @include u-font('sans', 'lg');
    @include u-border('base-lighter');
    padding: units(3) units(4);
    max-width: none;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-right: 0;
    height: 4.5rem;
  }

  .usa-button {
    @include u-font('sans', 'lg');
    @include u-text('normal');
    padding: units(3) units(6);
    height: 4.5rem;
  }
}

.hero--tagline {
  @include u-font('sans', 'md');
  @include u-text('base-darkest', 'light');
  margin-top: units(4);
  margin-bottom: units(3);
  text-align: center;
}
