.usa-hero.hero__no-image {
  background-image: none !important;
  @include u-bg('base-lightest');
  padding-top: units(3);
  padding-bottom: units(6);
  text-align: center;
  h1 {
    @include u-font('serif', '2xl');
    @include u-text('black', 'light');
  }
  p {
    @include u-text('black', 'normal');
  }
}

.usa-search {
  text-align: center;
  div {
    align-items: center;
    justify-content: center;
  }
  #search-box {
    @include u-font('sans', 'lg');
    @include u-border('base-light');
    padding: units(3);
    max-width: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    height: 75px;
  }

  .usa-button {
    @include u-font('sans', 'lg');
    @include u-text('normal');
    padding: units(3) units(6);
    height: 75px; //to accommodate border on input
  }
}
