@import 'settings';

.usa-hero.hero__no-image {
  background-image: none !important;
  background-color: $vivid-blue;
  @include u-color('white');
  padding-top: units(6);
  padding-bottom: units(10);
  text-align: center;
  h1 {
    @include u-font('sans', '2xl');
    font-family: 'Open Sans', 'Source Sans Pro Web', 'Helvetica Neue' , 'Helvetica', 'Roboto', 'Arial', sans-serif;
    @include u-text('white', 'bold');
    margin-top: units(3);
    margin-bottom: units(5);
  }
}
.i18n-controls {
  @include u-text('base-light');
  text-align: left;
  margin-bottom: 0;
  a {
    @include u-text('base-darkest');
    &:visited,
    &:focus,
    &:hover {
      @include u-text('base-darkest');
    }
  }
}
.usa-search {
  text-align: center;
  margin: auto;
  input:not([disabled]):focus, select:not([disabled]):focus, textarea:not([disabled]):focus, button:not([disabled]):focus {
    outline: 0.25rem solid $gray-hover;
  }
  .usa-button {
    font-weight: bold !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    &:hover,
    &:focus,
    &:active {
      @include u-bg('primary-dark');
    }
  }
  @include at-media('tablet'){
    max-width: 80%;
  }
  div {
    align-items: center;
    justify-content: center;
  }
  #search-box {
    @include u-font('sans', 'lg');
    font-family: 'Open Sans', 'Source Sans Pro Web', 'Helvetica Neue' , 'Helvetica', 'Roboto', 'Arial', sans-serif;
    @include u-border('base-lighter');
    padding: units(3) units(4);
    max-width: none;
    border-right: 0;
    height: 4.5rem;
  }

  .usa-button {
    @include u-font('sans', 'lg');
    font-family: 'Open Sans', 'Source Sans Pro Web', 'Helvetica Neue' , 'Helvetica', 'Roboto', 'Arial', sans-serif;
    @include u-text('normal');
    border-radius: 4px;
    padding: units(3) units(6);
    height: 4.5rem;
    background-color: $blue-dark;
    &:hover,
    &:focus,
    &:active {
      background-color: $blue-hover;
    }
  }
}