.top-questions h2 {
  text-align: center;
}

.top-questions .question {
  @include u-border('base-lightest');
  @include u-border('1px');
  @include u-margin(2);
  @include u-padding(1);
  @include u-text('no-underline');

  display: flex;
  align-items: center;

  .icon {
    background-color: #eef5f6;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


li {
  text-align: left;
  &:hover {
    background-color: color('accent-cool-lighter');
  }

  a {
    @include u-font('sans', 'lg');
    @include u-text('no-underline');
    @include u-color('primary-dark');
    @include u-margin(1);
  }
}

.question-box {
  @include u-margin(1);
  @include u-padding(2);

  &.question-box--info {
    @include u-bg('info-lighter');
  }

  &.question-box--warning {
    @include u-bg('warning-lighter');
  }
}
