.usa-section.usa-section--condensed {
    @include at-media('tablet') {
      @include u-padding-y(6);
    }
}

.top-questions h2 {
  @include u-text('black', 'light');
  text-align: center;
}

.top-questions .question {
  @include u-border('base-lightest');
  @include u-border('1px');
  @include u-margin(2);
  @include u-padding(1);
  @include u-radius('lg');
  display: flex;
  align-items: center;

  &:visited,
  &:hover,
  &:focus {
    @include u-color('primary');
  }

  .icon {
    background-color: #eef5f6;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.autocomplete {
  li {
    text-align: left;
    &:hover {
      background-color: color('accent-cool-lighter');
    }

    a {
      @include u-text('no-underline');
      @include u-color('primary-dark');

      &:hover {
        @include u-text('underline');
      }
    }
  }
}

.question-box {
  @include u-margin(1);
  @include u-radius('lg');
  @include u-padding-x(4);
  @include u-padding-y(2);
  height: 100%;
  display: flex;
  flex-direction: column;

  &.question-box--info {
    @include u-bg('info-lighter');
  }

  &.question-box--warning {
    @include u-bg('warning-lighter');
  }

  a {
    @include u-color('primary-dark');
    align-self: flex-end;
    width: 100%;
    &:visited,
    &:hover,
    &:focus {
      @include u-color('primary-dark');
    }
  }
}

.more-topics {
  @include u-bg('base-lightest');
  @include u-radius('lg');
}