.usa-section.usa-section--condensed {
    @include at-media('tablet') {
      @include u-padding-y(6);
    }
}

.top-questions {
  @include u-bg('primary-darkest');
}

.top-questions h2 {
  @include u-text('white');
  @include u-font('sans', 'xl');
  font-family: 'Open Sans', 'Source Sans Pro Web', 'Helvetica Neue' , 'Helvetica', 'Roboto', 'Arial', sans-serif;
  font-weight: bold;
  @include u-margin-x(0);
  @include u-margin-y(2);
}

.top-questions .question {
  @include u-margin-x(0);
  @include u-margin-y(2);
  display: flex;
  align-items: center;

  @include u-color('white');

  &:active,
  &:hover,
  &:focus {
    @include u-color('primary-lighter');
  }

  .icon {
    @include u-radius('md');
    @include u-color('white');
    @include u-bg('primary-vivid');
    border-radius: 2rem;
    width: 3.3rem;
    height: 3.3rem;
    min-width: 3.3rem;
    min-height: 3.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span::after {
    content: '\2000›';
  }
}

.question-box a,
.top-categories a {
  @include u-color('primary-vivid');
  width: 100%;
  &:visited {
    @include u-color('primary-vivid');
  }
  &:hover,
  &:focus {
    @include u-color('primary-dark');
  }
}

.question-box {
  @include u-margin-x(0);
  @include u-margin-y(1);
  @include u-padding-x(4);
  @include u-padding-y(2);
  border-radius: 0.18rem;
  height: 100%;

  &.question-box--info {
    @include u-bg('gray-10');
  }

  &.question-box--warning {
    @include u-bg('gray-10');
  }

  a.usa-button {
    @include u-color('white');
    width: auto;
    &:visited {
      @include u-color('white');
    }
    &:hover,
    &:focus {
      @include u-color('primary-light');
    }
  }
  .question-title p {
    @include u-font-size('sans', 'lg');
    em {
      @include u-text('no-italic', 'bold');
    }
  }
}

.more-topics {
  @include u-bg('base-lightest');

  @include at-media('mobile'){
    @include u-padding-bottom(3);
  }
}
.usa-button {
  border-top-right-radius: 0.22rem;
  border-bottom-right-radius: 0.22rem;
  border-bottom-left-radius: 0.22rem;
  border-top-left-radius: 0.22rem;
  font-weight: normal;
}
#more-questions:focus {
  outline: none;
}
