.search-results-container {
  ol {
    padding-left: 0;
    li {
      @include u-border-bottom('solid', '1px', 'base-lighter');
      padding-bottom: units(3);
      margin-bottom: units(3);
      list-style: none;

      a {
        @include u-text('no-underline');
        display: block;
        &:visited,
        &:hover,
        &:focus {
          h2 {
            @include u-color('primary-dark');

          }
        }
        h2 {
          @include u-margin-top(0);
        }
        p {
          @include u-color('base-darkest');
        }
      }
      .read-more {
        @include u-text('underline');
        @include u-color('primary-dark');
      }
    }
  }
  .results-summary, .num-results {
    @include u-color('primary-dark');
  }
  .results-summary {
    float: right;
    @include u-line-height('heading', 1);
  }
  .button-container {
    text-align: center;
  }

  .more-results-button {
    display: none;
  }
  &.has-more-results {
    .more-results-button {
      display: inline-block;
    }
  }

  .loading-indicator {
    display: none;
  }
  &.is-loading {
    .loading-indicator {
      display: block;
    }
  }

  .routed-query {
    display: none;
  }
  &.is-routed-query {
    .routed-query {
      display: block;
    }
  }
}

.menu-search {
  .usa-button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0.22rem;
    border-bottom-right-radius: 0.22rem;
    height: 2.5rem;
  }
}
