#search-results ol {
  padding-left: 0;
  li {
    @include u-border-bottom('solid', '1px', 'base-lighter');
    padding-bottom: units(3);
    margin-bottom: units(3);
    list-style: none;
    &:before {

    }
    a {
      @include u-text('no-underline');
      display: block;
      &:visited,
      &:hover,
      &:focus {
        h2 {
          @include u-color('primary-dark');

        }
      }
      h2 {
        @include u-margin-top(0);
      }
      p {
        @include u-color('base-darkest');
      }
    }
    .read-more {
      @include u-text('underline');
      @include u-color('primary-dark');
    }
  }
}

.menu-search {
  .usa-button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}
