body {
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', 'Source Sans Pro Web', 'Helvetica Neue' , 'Helvetica', 'Roboto', 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6,
h2 .usa-accordion__button,
.usa-prose > h1 {
  @include u-font-family('sans');
  font-family: 'Open Sans', 'Source Sans Pro Web', 'Helvetica Neue' , 'Helvetica', 'Roboto', 'Arial', sans-serif;
}

.usa-accordion__button {
  @include u-line-height('heading', 6);
}


p {
  @include u-font('sans', 'md');
  font-family: 'Open Sans', 'Source Sans Pro Web', 'Helvetica Neue' , 'Helvetica', 'Roboto', 'Arial', sans-serif;
  @include u-text('base-darkest');
}

a {
  @include u-color('primary-dark');
  @include u-text('no-underline');

  &:visited,
  &:hover,
  &:focus {
    @include u-color('primary-dark');
    @include u-text('underline');
  }
}

div.usa-accordion__content a {
  @include u-text('underline');

  &:visited,
  &:hover,
  &:focus {
    @include u-color('primary-dark');
    @include u-text('no-underline');
  }
}