---
layout: default
sitemap: false
---

{% assign all_categories = site.categories | sort: "title" %}

<!-- Build array of content with this agency listed as a source-->
{% assign content = "" | split: "," %}

{% for content_page in site.content %}
  {% for source in content_page.sources %}
    {% if source.agency == page.name %}
      {% assign content = content | push: content_page %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% assign all_by_category = content | sort: "-date" | group_by:"category" %}

<section class="grid-container usa-section usa-section--condensed border-top border-base-lightest">
    <div class="grid-row">
      <div class="grid-col-12">
        <h1>{{page.title}} ({{content | size}} total)</h1>
      </div>
          <div class="grid-col-12">
            <ul>
            {% for question in content %}
                <li class="margin-bottom-2">
                  <a href="{{ question.url | relative_url }}" class="margin-y-1">
                    {{ question.title }}
                  </a>
                  <span class="text-gray-50"> {{ question.date | date: "%B %d, %Y" }}</span>
                  / {% for category in question.categories %}
                    <a href="/{{ category }}">{{ category }}</a>
                    {% if forloop.last == false %},{% endif %}
                  {% endfor %}
                </li>
            {% endfor %}
            </ul>
          </div>
    </div>
</section>
