---
layout: default
sitemap: false
---

{% assign categories = site.content | where:"source", page.name | sort: "-date" | group_by:"category" | sort: "title" %}
{% assign total = site.content | where:"source", page.name %}

<section class="grid-container usa-section usa-section--condensed border-top border-base-lightest">
    <div class="grid-row">
      <div class="grid-col-12">
        <h1>{{page.name}} ({{total | size}} total)</h1>
      </div>
    {% for category in categories %}
        {% assign current_category_questions = categories | where:"name", category.name | first %}
        {% assign current_category = site.categories | where:"name", category.name | first %}
        <h2 class="text-gray-50" id="{{ current_category.title | slugify }}">{{ current_category.title }}</h2>
        <div class="grid-col-12">
        <ul>
        {% for question in current_category_questions.items %}
            <li class="margin-bottom-2"><a href="{{ question.url | relative_url }}" class="margin-y-1">{{ question.title }}</a> <span class="text-gray-50"> {{ question.date | date: "%B %d, %Y" }}</span></li>
        {% endfor %}
        </ul>
        </div>
    {% endfor %}
    </div>
</section>
