---
layout: default
---

{% comment %}
This template is for a single page that does not have a date associated with it. For example, an about page.
{% endcomment %}

<div class="usa-layout-docs usa-section" id="top">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      {% if page.sidenav == true %}
      {% include sidenav.html %}
      {% endif %}

      <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
          <h2>{{ page.title }}</h2>
          <div class="usa-accordion usa-accordion--bordered">
                {% for post in site.posts %}
                    {% if post.categories contains page.name and page.lang == post.lang %}
                        {% include accordion.html question=post.title answer=post.content %}
                    {% endif %}
                {% endfor %}
          </div>
      </div>
    </div>
    <div class="grid-row grid-gap margin-top-1">
      <div class="desktop:grid-col-9 display-flex flex-column flex-align-end">
            <a class="usa-link display-flex flex-justify-center flex-align-center" href="#top">
              Return to top
              <span class="margin-left-1">
                {% capture icon_path %}icons/return-to-top.svg{% endcapture %}
                {% asset '{{ icon_path }}' class="" alt="return-to-top icon" %}
              </span>
            </a>
      </div>
    </div>
  </div>
</div>
