---
layout: default
---

{% comment %}
This template is for a single page that does not have a date associated with it. For example, an about page.
{% endcomment %}

<div class="usa-layout-docs usa-section" id="top">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      {% if page.sidenav == true %}
      {% include sidenav.html %}
      {% endif %}

      <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
          <h2>{{ page.title }}</h2>
          <div class="usa-accordion usa-accordion--bordered">
                {% for post in site.posts %}
                    {% if post.categories contains page.name and page.lang == post.lang %}
                        {% include accordion.html question=post.title answer=post.content %}
                    {% endif %}
                {% endfor %}
          </div>
      </div>
    </div>
    <a class="usa-link" href="#top">Return to top</a>
  </div>
</div>