---
layout: default
---

{% comment %}
This is the template for single-question pages.
{% endcomment %}

{% assign question_categories = site.categories | for_question: page.slug %}
<div class="usa-layout-docs usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <h1>{{ page.title }}</h1>
      <div class="usa-prose">
        {% include question-content.html question=page %}
        <p>
          See also:
          {% for category in question_categories %}
            <a href="{{ site.baseurl }}/{{ category.slug }}">{{ category.title }}</a>{% if forloop.last == false %},{% endif %}
          {% endfor %}
        </p>
      </div>
    </div>
  </div>
</div>
