---
layout: default
---

{% comment %}
This is used in blog posts. The index page can be found at blog/index.html
{% endcomment %}

<div class="usa-layout-docs usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="usa-layout-docs__main desktop:grid-col-12 usa-prose">
        <div class="usa-accordion usa-accordion--bordered" aria-multiselectable=true>
          {% include accordion.html accordion_content=page %}
        </div>
      </div>
    </div>
  </div>
</div>