.breadcrumb {
  padding: units(2.5);
}

div.usa-layout-docs.usa-section {
  padding-top: units(2);

  .usa-prose>h2 {
    padding-bottom: units(2);
    font-family: 'Open Sans', 'Source Sans Pro Web', 'Helvetica Neue' , 'Helvetica', 'Roboto', 'Arial', sans-serif;
  }
}

.usa-prose{
  font-family: 'Open Sans', 'Source Sans Pro Web', 'Helvetica Neue' , 'Helvetica', 'Roboto', 'Arial', sans-serif;
  > p.question-meta {
    @include u-text('italic');
    @include u-color('base');
    @include u-margin-top(4);
      font-family: 'Open Sans', 'Source Sans Pro Web', 'Helvetica Neue' , 'Helvetica', 'Roboto', 'Arial', sans-serif;
  }
}


@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 639px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
}
